body{
    font-family: arial, verdana;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: #000;
    list-style: none;
    color: white;
    margin: 0;
}
.navbar li{
    padding: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.editprofilewarning{
    color: red;
    font-size: 16px;
}